*{
  margin: 0;
}

button{
  border: none;
  background-color: transparent;
}

.mainNoteCreationDate{
  font-size: 13px;
  color: grey;
}

/*Note list container*/
.noteListContainerOff{
    min-width: 450px;
    height: 100vh;
    background-color: #333;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: .5s;
    text-align: center;
  z-index: 10;
  margin-left: -450px;
}
.noteListContainerOn{
  min-width: 450px;
  height: 100vh;
  background-color: #333;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: .5s;
  text-align: center;
  z-index: 10;
}
.noteListContainerOn .card{
  align-items: center;
}
/*Note*/
.noteTitle{
  width: 250px;
  font-size: 25px;
  background-color: transparent;
  border: none;
  margin: 1rem 0 0 0;
  text-align:center;
}
/*Add note btn*/
.addNoteBtn{
    margin-left: 5px;
    margin-top: -13px;
    position: absolute;
    width: 25px;
    height: 25px;
    transition: 2s;
    border: none;
    background-color: transparent;
    font-size: 50px;
    color: rgb(0, 255, 0);
    transition: .1s;
}
.addNoteBtn:hover {
color: rgb(0, 133, 0);
}
.addNoteBtn:active{
  transform: scale(1.1);
  color: rgb(0, 133, 0);
}
.addNoteBtn i{
  margin-left: -2px;
}
/*Side Bar btn*/
.sideBarBtn{
  width: 25px;
  height: 100vh;
  transition: 2s;
  border: none;
  background-color: transparent;
  font-size: 25px;
}
.sideBarBtn i{
  margin-left: -2px;
}

/*NoteForm*/

.noteFormContainerOff{
  padding: 5px;
  overflow-y: auto;  
  overflow-x: hidden;
  height: 100vh;
  margin-left: -350px;
  min-width: 350px;
  transition: .5s;
  background-color: #fff;
  opacity: 1;
}

.noteFormContainerOn{
  padding: 5px;
  overflow-y: auto;  
  overflow-x: hidden;
  height: 100vh;
  min-width: 350px;
  margin-left: 0px;
  transition: .5s;
  background-color: #fff;
}
/*
.noteFormContainerOff{
  
  

  
  transition: .5s;
  width: 0;
  min-width: 0;
  opacity: 0;
  visibility: hidden;
  margin-left: 0;
}


.noteFormContainerOn{
  padding: 5px;
  margin-left: 10px;
  overflow-y: auto;  
  overflow-x: hidden;
  height: 100vh;
  transition: .5s;
  width: 300px;
  min-width: 300px;
  background-color: #fff;
}

/*AddAcivityBtn and DeleteAcivityBtn */
.addActivityBtnContainer{
  border: none;
  width: 30px;
  align-items: center;
  display: flex;
  background-color: transparent;
  justify-content: center;
}
.addActivityBtn{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addActivityBtn i{
  font-size: 35px;
  color: rgb(0, 255, 0);
}
.addActivityBtn i:hover{

  cursor: pointer;
  color: rgb(0, 133, 0);
}
.addActivityBtnContainer i{
  font-size: 25px;
}

.addActivityBtnContainer i:hover{
  cursor: pointer;
  filter: sepia(50%);
}
.addActivityBtnContainer .fa-check-square{
  color: rgb(0, 255, 0);
  
}
.fa-minus-square{
  color: red;
}
.deleteActivityBtn{
  font-size: 25px;
  color: red;
}

.deleteActivityBtn:hover{
  cursor: pointer;
  filter: sepia(50%);
}
.newActivity{
  max-width: 120px;
}
/*
.dateForm{
  background-color: red !important;
  padding: 10px;
  margin: 100px;
  max-height: 100px !important;
  }

/* MainNote */
.mainNote{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 3rem;
  max-width: 45vw;
}

.mainNote h3{
  display: block;
  min-width: 100%;
  padding: .5rem;
  margin-top: 35px;
}

.mainBtn{
  margin-top: 75vh;
  min-width: 300px;
  position: absolute;
  bottom: 50px;
  transition: 5s;
}

.mainNoteContent{
  width: 100%;
}




/*Activities*/
.activityBtnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.activityContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.activity{
  display: flex;
  align-items: center;
  word-wrap:break-word;
  margin:0 ;
  overflow-x: auto;
  width: 300px;
}
.activityDate{
  font-size: 13px;
  color: grey;
  margin: 0;
}
.activityText{
  display: flex;
  flex-direction: column;
  margin: 0;
}

/*Cuando no hay nada seleccionado*/
.anyGroup{
  text-align: center;
  margin-top: 50vh;
  font-size: 30px;
}



/*Scroll bar*/
::-webkit-scrollbar {
  width:5px;
  background-color: #333;
}

/* Track */
::-webkit-scrollbar-track {
  width:5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 10px;
  background: grey;
 
}
/*Scroll bar*/
.mainNoteWhenSmall{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
/*Responsive*/
@media (max-width:1050px){

  .noteListContainerOff{
    min-width: 350px;
    margin-left: -350px;
}
.noteListContainerOn{
  min-width: 350px;
}

.noteFormContainerOff{
  margin-left: -350px;
  min-width: 350px;
  max-width: 350px;
  position: absolute;
  transition: .5s;
  background-color: #fff;
  opacity: 1;
  z-index: 11;
}

.noteFormContainerOn{
  min-width: 350px;;
  margin-left: 0px;
  position: absolute;
  transition: .5s;
  background-color: #fff;
  z-index: 11;

}


.mainNote{
  max-width: 100%;
}

}

@media (max-width:700px){



/*MainNote*/
.mainNote{
  max-width: 100vw;
  padding: 30px 30px 30px 0;
}
/*NoteForm*/
body{
  overflow-x: hidden;
}


.mainNoteOn{
  transition: .5s;
  min-width: 100vw;
}

.mainNoteOff{   
  transition: .5s;
}

.mainNoteWhenSmall{
  display: none;
}

.noteFormContainerOff{
  min-width: 90vw;
  margin-left: -90vw;
  position: absolute;
  transition: .8s;
  background-color: #fff;
  opacity: 1;
}

.noteFormContainerOn{
  min-width: 90vw;
  margin-left: 0px;
  position: absolute;
  transition: .8s;
  background-color: #fff;
}


/*Note list container*/
.noteListContainerOff{
  min-width: 90vw;
  margin-left: -90vw;
  height: 100vh;
  padding: 0;
  transition: .8s;  
}
.noteListContainerOn{
  margin:0;
  min-width: 90vw;
  height: 100vh;
  padding: 0;
  transition: .8s;
}

.addNoteBtn,  .sideBarBtn{
  margin: 0cm;
  width: 10vw;
  font-size: 50px;
}
.addNoteBtn{
  font-size: 40px;

}
.addNoteBtn:active{
  transform: none;
}

.mainBtn{
  display: none !important;
}

}

@media (max-width:470px){

  *{
    margin: 0;
    padding: 0;
  }
  #root{
    overflow: hidden;

  }

  .noteFormContainerOff{
    min-width: 80vw;
    margin-left: -80vw;
    position: absolute;
    transition: .8s;
    background-color: #fff;
    opacity: 1;
  }
  
  .noteFormContainerOn{
    min-width: 80vw;
    margin-left: 0px;
    position: absolute;
    transition: .8s;
    background-color: #fff;
  }
  
  
  /*Note list container*/
  .noteListContainerOff{
    min-width: 80vw;
    margin-left: -80vw;
    transition: .8s;  
  }
  .noteListContainerOn{
    margin:0;
    min-width: 80vw;
    height: 100vh;
    padding: 0;
    transition: .8s;
  }
  .addNoteBtn,  .sideBarBtn{
    width: 20vw;
  }

  .addNoteBtn{
    font-size: 60px;
  }

  
}

