*{
  margin: 0;
}
body{
  overflow-x: hidden;
}

.logOut{
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 25px;
  width: 25px;
  height: 25px;
  color: rgb(230, 51, 51);
}
.logOut::after{
  opacity: 0;
  transition: .2s;
  content: 'logOut';
  font-size: 13px;
  position: absolute;
  left: 33px;
  top: 11px;
  word-wrap: normal;
}
.logOut:hover::after{
  opacity: 1;
}

/*userAvatar*/
.userAvatar{
  width: 200px;
  height: 200px;
  border-radius: 250px;
  background-color: rgba(73, 73, 73, 0.8);
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

.userAvatar1{
  position: relative;
  background-color: rgb(47, 129, 235);
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin-top: 75px;
}
.userAvatar2{
  position: absolute;
  background-color: rgb(47, 129, 235);
  width: 75px;
  height: 75px;
  margin-top: 10px;
  border-radius: 100px;
}

/*Modal*/
.modalClass{
  position: absolute;
  inset: 0;
  background-color: rgba(73, 73, 73, 0.8);
  z-index: 110;
  display: flex;
  align-items: center;
}
.logInForm{
  color: white;
  width: 35%;
  margin: 0 auto;
  height: 75vh;
  overflow: auto;
  max-height: 300px;
  background-color: #333;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 10px;
}
/*Profile Slide Bar*/
.profileSlideOn{
  overflow: hidden;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100vh;
  background-color: #333;
  z-index: 100;
  color: white;
  transition: .3s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.profileSlideOff{
  overflow: hidden;
  position: absolute;
  right: 0;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100vh;
  background-color: #333;
  z-index: 80;
  color: white;
  transition: .3s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.closeProfileSlideBarBtn::after, .closeProfileSlideBarBtn::before{
  content: '';
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 5px;
  height: 25px;
  background-color: rgb(190, 190, 190);
  z-index: 100;
  transition: .3s;
}
.closeProfileSlideBarBtn:hover::after{
  transform: scale(2);
  transform: rotate(-45deg);
}
.closeProfileSlideBarBtn:hover::before{
  transform: scale(2);
  transform: rotate(45deg);
}
.closeProfileSlideBarBtn::after{
  transform: rotate(45deg);
}
.closeProfileSlideBarBtn::before{
  transform: rotate(-45deg);
}

.closeProfileSlideBarBtn{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
}
.profileSection{
  position: absolute;
  height: 50px;
  width: 50px;
  right: 0;
  border-radius: 100px;
  background-color: transparent;
  z-index: 80;
  transition: 1s;
  font-size: 40px;
  color: rgb(131, 119, 119);
  transition: 0.2s;
}
.profileSection:hover:after{
  content: 'Account';
  position: absolute;
  right: 42px;
  height:  25px;
  top: calc(25px - 5px);
  font-size: 18px;
  color: rgb(136, 136, 136);
}
.profileSection:hover{
  transform: scale(1.2);
  color: rgb(151, 151, 151);
}
.profileSection:active{
  transform: scale(1.5);
  transition: 1s;
  color: white;
}
.mainNoteContentList{
  background-color: red;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;
  border: none;
  background-color: transparent;
  max-height: calc(100vh - 150px);
}
button{
  border: none;
  background-color: transparent;
}

.mainNoteCreationDate{
  font-size: 13px;
  color: grey;
}

/*Note list container*/
.sideBarBtnOpen{
  transition: .5s;
}

.sideBarIconClose{
  transition: .5s;
  transform: rotate(180deg);
}
.noteListContainerOff{
    min-width: 450px;
    height: 100vh;
    background-color: #333;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: .5s;
    text-align: center;
  z-index: 10;
  margin-left: -450px;
}
.noteListContainerOn{
  min-width: 450px;
  height: 100vh;
  background-color: #333;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: .5s;
  text-align: center;
  z-index: 10;
}
.card{
  align-items: center;
}

/*Note*/
.noteTitle{
  width: 250px;
  font-size: 25px;
  background-color: transparent;
  border: none;
  margin: 1rem 0 0 0;
  text-align:center;
}
/*Add note btn*/
.addNoteBtn{
    margin-left: 5px;
    margin-top: -13px;
    position: absolute;
    width: 50px;
    height: 80px;  
    border: none;
    background-color: transparent;
    font-size: 50px;
    color: rgb(0, 255, 0);
    transition: .1s;
}
.addNoteBtn:hover {

color: rgb(0, 133, 0);
}
.addNoteBtn:active{
  transform: scale(1.1);
  color: rgb(0, 133, 0);
}
.addNoteBtn i{
  margin-left: -2px;
}
/*Side Bar btn*/
.sideBarBtn{
  width: 25px;
  height: 100vh;
  transition: 2s;
  border: none;
  background-color: transparent;
  font-size: 25px;
}
.sideBarBtn i{
  margin-left: -2px;
}

/*NoteForm*/
.addFirstGroupBtn{
  min-width:85%;
  min-height: 100px;
  background-color: rgb(11, 223, 11);
  border-radius: 5px;
  transition: .3s;
  color: white;
}
.addFirstGroupBtn:hover{
  color: rgb(172, 172, 172);
  border-radius: 5px;
  background-color: rgb(0, 133, 0) ;
}
.removeActivity{
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
}
.removeActivity i{
  font-size: 25px;
}

.removeActivity i:hover{
  color: rgb(144, 0, 0);
}

.noteFormContainerOff{
  padding: 5px;
  overflow-y: auto;  
  overflow-x: hidden;
  height: 100vh;
  margin-left: -350px;
  min-width: 350px;
  transition: .5s;
  background-color: #fff;
  opacity: 1;
}

.noteFormContainerOn{
  padding: 5px;
  overflow-y: auto;  
  overflow-x: hidden;
  height: 100vh;
  min-width: 350px;
  margin-left: 0px;
  transition: .5s;
  background-color: #fff;
}
/*
.noteFormContainerOff{
  
  

  
  transition: .5s;
  width: 0;
  min-width: 0;
  opacity: 0;
  visibility: hidden;
  margin-left: 0;
}


.noteFormContainerOn{
  padding: 5px;
  margin-left: 10px;
  overflow-y: auto;  
  overflow-x: hidden;
  height: 100vh;
  transition: .5s;
  width: 300px;
  min-width: 300px;
  background-color: #fff;
}

/*AddAcivityBtn and DeleteAcivityBtn */
.addActivityBtnContainer{
  border: none;
  width: 30px;
  align-items: center;
  display: flex;
  background-color: transparent;
  justify-content: center;
}
.addActivityBtn{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addActivityBtn i{
  font-size: 35px;
  color: rgb(0, 255, 0);
}



.addActivityBtn i:hover{

  cursor: pointer;
  color: rgb(0, 133, 0);
}
.addActivityBtnContainer i{
  font-size: 25px;
}

.addActivityBtnContainer i:hover{
  cursor: pointer;
  filter: sepia(50%);
}
.addActivityBtnContainer .fa-check-square{
  color: rgb(0, 255, 0);
  
}
.fa-minus-square{
  color: red ;
}
.deleteActivityBtn{
  font-size: 25px;
  color: red;
}

.deleteActivityBtn:hover{
  cursor: pointer;
  filter: sepia(50%);
}
.newActivity{
  max-width: 120px;
}
/*
.dateForm{
  background-color: red !important;
  padding: 10px;
  margin: 100px;
  max-height: 100px !important;
  }

/* MainNote */
.mainNote{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 3rem;
  max-width: 45vw;
  word-wrap:break-word;
}

.mainNote h3{
  display: block;
  word-wrap:break-word;
  min-width: 100%;
  padding: .5rem;
  margin-top: 35px;
}

.mainBtn{
  margin-top: 75vh;
  min-width: 300px;
  position: absolute;
  bottom: 50px;
  transition: 5s;
}

.mainNoteContent{
  width: 100%;
}




/*Activities*/
.activityBtnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.activityContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.activity{
  display: flex;
  align-items: center;
  word-wrap:break-word;
  margin:0 ;
  overflow-x: auto;
  width: 300px;
}
.activityDate{
  font-size: 13px;
  color: grey;
  margin: 0;
}
.activityText{
  display: flex;
  flex-direction: column;
  margin: 0;
}

/*Cuando no hay nada seleccionado*/
.anyGroup{
  text-align: center;
  margin-top: 50vh;
  font-size: 30px;
}



/*Scroll bar*/
::-webkit-scrollbar {
  width:5px;
  background-color: #333;
}

/* Track */
::-webkit-scrollbar-track {
  width:5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 10px;
  background: grey;
 
}
/*Scroll bar*/
.mainNoteWhenSmall{
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
/*Responsive*/
@media (max-width:1050px){

  .noteForm{
    max-width: 300px;
  }

  .noteListContainerOff{
    min-width: 350px;
    margin-left: -350px;
}
.noteListContainerOn{
  min-width: 350px;
}

.noteFormContainerOff{
  margin-left: -350px;
  min-width: 350px;
  max-width: 350px;
  position: absolute;
  transition: .5s;
  background-color: #fff;
  opacity: 1;
  z-index: 11;
}

.noteFormContainerOn{
  min-width: 350px;;
  margin-left: 0px;
  position: absolute;
  transition: .5s;
  background-color: #fff;
  z-index: 11;

}


.mainNote{
  max-width: 100%;
}

}

@media (max-width:700px){

  /*Side Bar In Bottom*/
.profileSlideOff{
  width: 100vw;
}
.profileSlideOn{
  width: 100vw;

}
.mainNoteContentList{
  max-height: calc(100vh - 300px);
}
.addActivityTooltip{
    opacity: 0 !important ;  
} 

/*MainNote*/
.mainNoteContainer{
  position: absolute;
  padding-left: 50px;
}
.mainNote{
  max-width: 100vw;
  padding: 30px 30px 30px 0;
}
/*NoteForm*/


.card h2{
  padding: 0 1rem;
}
.mainNoteOn{
  transition: .5s;
}

.mainNoteOff{   
  transition: .5s;
  min-width: 100vw;
}

.mainNoteWhenSmall{
  display: none;
}

.noteFormContainerOff{
  min-width: 90vw;
  margin-left: -90vw;
  position: absolute;
  transition: .8s;
  background-color: #fff;
  opacity: 1;
}

.noteFormContainerOn{
  min-width: 90vw;
  margin-left: 0px;
  position: absolute;
  transition: .8s;
  background-color: #fff;
}


/*Note list container*/
.noteListContainerOff{
  min-width: 90vw;
  margin-left: -90vw;
  height: 100vh;
  padding: 0;
  transition: .8s;  
}
.noteListContainerOn{
  margin:0;
  min-width: 90vw;
  height: 100vh;
  padding: 0;
  transition: .8s;
}

.addNoteBtn,  .sideBarBtn{
  margin: 0cm;
  width: 10vw;
  font-size: 50px;
}
.addNoteBtn{
  font-size: 40px;
  display: none;
}
.addNoteBtn:active{
  transform: none;
}

.mainBtn{
  display: none !important;
}

.anyGroup{
  position: absolute;
}
.logInForm{
  width: 90%;
  margin: 5% auto;
  height: 90%;
  padding: 20px;
  font-size: 30px;
  max-height: 400px;
  }
  .logOut::after{
    opacity: 1;
  }
}

@media (max-width:500px){

  *{
    margin: 0;
    padding: 0;
  }
  #root{
    overflow: hidden;

  }

  .noteFormContainerOff{
    min-width: 80vw;
    margin-left: -80vw;
    position: absolute;
    transition: .8s;
    background-color: #fff;
    opacity: 1;
  }
  
  .noteFormContainerOn{
    min-width: 80vw;
    margin-left: 0px;
    position: absolute;
    transition: .8s;
    background-color: #fff;
  }
  
  

  .addNoteBtn,  .sideBarBtn{
    width: 20vw;
  }

  .addNoteBtn{
    font-size: 60px;
  }
  .sideBarBtn{
    position: absolute ;
    bottom: 110px;
    left: calc(50vw - 25px);
    width: 0;
    height: 0;
    z-index: 30;
  }
  .sideBarBtn i{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    width: 50px;
    height: 100px;
    display: none;
  }
  .sideBarIconClose{
    transform: rotate(90deg);
    margin-top: calc(-83vh + 45px);
  }
  .sideBarBtnOpen{
    transform: rotate(-90deg);
    margin-top: -35px;
  }
  body{
    overflow: hidden;
  }
  /*Note list container*/
  .noteListContainerOff{
    margin-left:0;
    min-width: 100vw;
    height: 83vh;
    margin-top: calc(100vh - 110px);
    transition: 1s;
    overflow: hidden;
    border-radius: 100px;
  }
  .noteListContainerOn{
    margin-left:0;
    min-width: 100%;
    height: 83vh;
    margin-top: 17vh;
    transition: 1s;
    overflow: hidden;
  }
  .groupsTitle{
    transition: 1s;
  }
  .noteListContainerOff .groupsTitle{
    font-size: 40px;
    margin-bottom: 70px;
  }
  .noteFormContainerOn, .noteListContainerOff{
    z-index: 50;
    width: 100vw;
  }
  .addFirstGroupBtn{
    margin-bottom: 150px;
  }
}

